* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid rgb(231, 231, 231);
}
.headleft {
  display: flex;
  height: 40px;
}
.headleft .menubtn {
    height: 40px;
    position: relative;
}
.headleft .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hovtxt2 {
    position: absolute;
    bottom: -1px;
    color: white;
    font-size: 14px;
    background-color: rgb(212, 207, 207);
    padding: 0 2px;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
}
.headleft .menu-btn:hover .hovtxt2 {
    opacity: 1;
}
.headleft1 {
  display: flex;
  height: inherit;
  margin-left: 20px;
}
.headcenter {
  width: 700px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
#search {
  height: 33px;
  padding: 6px 10px;
  flex: 1;
  border: 1px solid gray;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  opacity: 0.5;
  box-shadow: inset 1px 2px 4px rgb(0, 0, 0, 0.2);
  font-size: 18px;
  width: 0;
}
.search .img1 {
  border: 1px solid gray;
  background-color: rgb(211, 208, 208);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  opacity: 0.5;
  margin-left: -1px;
  height: 31px;
  width: 66px;
}
.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  position: relative;
}
.search-btn .hovtxt1 {
  position: absolute;
  background-color: rgb(212, 207, 207);
  bottom: -20px;
  padding: 2px 5px;
  border-radius: 3px;
  color: white;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  white-space: nowrap;
}
.search-btn:hover .hovtxt1 {
  opacity: 1;
}
.search .mic {
  height: 25px;
  padding: 3px 6px;
  border-radius: 50%;
  margin-left: 15px;
  background-color: gray;
  opacity: 0.2;
}
.search button {
  border: none;
  background-color: transparent;
}
.headright {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  width: 180px;
}
.headright #div-notif {
  /* position: relative; */
  display: flex;
  align-items: center;
}
.headright #div-notif .notifi-bell {
  height: 30px;
}
.notifi-bell {
    position: relative;
}
.headright .notification {
  position: absolute;
  background-color: red;
  padding-left: 2px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  border-radius: 10px;
  bottom: 14px;
  left: 13px;
}
.headright .profile {
  height: 24px;
  border-radius: 50%;
}
nav {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  width: 82px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 1;
}
.navlink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  font-weight: 600;
  width: 100%;
  height: 100%;
}
.navlink:hover {
  cursor: pointer;
  background-color: rgb(235, 229, 229);
}
nav img {
  height: 30px;
}
main {
  background-color: rgb(255, 254, 254);
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 20px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
.video1 {
  position: relative;
}
.video-pic {
  position: relative;
}
.video-pic img {
  margin-bottom: 5px;
  width: 100%;
}
.video-pic p {
  background-color: black;
  color: white;
  position: absolute;
  padding: 2px 4px;
  bottom: 13px;
  right: 5px;
}
.video-prof {
  display: flex;
  vertical-align: top;
  gap: 6px;
}
.profile-pic img {
  height: 30px;
  border-radius: 15px;
  padding-top: 5px;
}
.description .title {
  font-weight: 600;
  margin-bottom: 7px;
}
.description .username,
.duration {
  opacity: 0.4;
}
